<footer class="container text-center mt-5">
  	<p class="text-muted">
		<small>
			
  		&copy; Copyright {{'now'|date('Y')}} 
  		&middot;
  		Buiuld with <span class="text-danger">&hearts;</span> by
  		Ahmed ALIDJINOU

		</small>
  	</p>
</footer>